{% if content %}
    {% if content.content_top %}
      <div class="row">
        <div class="large-12 columns">
	        <div class="panel-inner content-top content-panel">                
			{{ content.content_top }}
	        </div>
        </div>
      </div>  
    {% endif %}              
    {% if content.content_section %}
      <div class="row">
        <div class="large-12 small-12 columns">
	        <div class="panel-inner content-wrapper content-panel">                
			{{ content.content_section }}
	        </div>
		</div>
	  </div>
    {% endif %}    		  
    {% if content.content_bottom %}    
      <div class="row">
        <div class="large-12 columns">
	        <div class="panel-inner content-bottom content-panel">                
			{{ content.content_bottom }}
	        </div>
        </div>
      </div>                                  
    {% endif %}    	
{% endif %}    	