{% if content %}
    {% if content.content_top %}
      <div class="row">
        <div class="large-12 columns">
	        <div class="panel-inner content-top content-panel">                
				{{ content.content_top }}
	        </div>
        </div>
      </div>  
    {% endif %}              

    {% if content.content %}
      <div class="row">
        <div class="large-12 small-12 columns">
	        <div class="panel-inner content-panel">                
				{{ content.content }}
	        </div>
		</div>
	  </div>
    {% endif %}    		  

    {% if content.sidebar_left_sidebar or content.sidebar_left_content %}
      <div class="row">
	    {% if content.sidebar_left_sidebar %}      
        <div class="large-4 small-12 columns">
	        <aside class="panel-inner panel-inner sidebar-left" role="complementary">                
				{{ content.sidebar_left_sidebar }}
	        </aside>
		</div>
		{% endif %}              		
	    {% if content.sidebar_left_content %}      		
        <div class="large-8 small-12 columns">
	        <div class="panel-inner content-wrapper content-panel">                
				{{ content.sidebar_left_content }}
	        </div>
		</div>
		{% endif %}              				
	  </div>
    {% endif %} 

    {% if content.sidebar_right_sidebar or content.sidebar_right_content %}
      <div class="row">
	    {% if content.sidebar_right_content %}      		
        <div class="large-8 small-12 columns">
	        <div class="panel-inner content-wrapper content-panel">                
				{{ content.sidebar_right_content }}
	        </div>
		</div>
		{% endif %}              				
      
	    {% if content.sidebar_right_sidebar %}      
        <div class="large-4 small-12 columns">
	        <aside class="panel-inner panel-inner sidebar-right" role="complementary">                
				{{ content.sidebar_right_sidebar }}
	        </aside>
		</div>
		{% endif %}              		
	  </div>
    {% endif %} 

    {% if content.two_col_first or content.two_col_second %}
      <div class="row">
	    {% if content.two_col_first %}      
        <div class="large-6 small-12 columns">
	        <div class="panel-inner twocol-first">                
				{{ content.two_col_first }}
	        </div>
		</div>
		{% endif %}              		
		
	    {% if content.two_col_second %}      		
        <div class="large-6 small-12 columns">
	        <div class="panel-inner twocol-second">                
				{{ content.two_col_second }}
	        </div>
		</div>
		{% endif %} 
		             				
	  </div>
    {% endif %}

    {% if content.three_col_first or content.three_col_second or content.three_col_third %}
      <div class="row">
	    {% if content.three_col_first %}      
        <div class="large-4 small-12 columns">
	        <div class="panel-inner threecol-first">                
				{{ content.three_col_first }}
	        </div>
		</div>
		{% endif %}              		
		
	    {% if content.three_col_second %}      		
        <div class="large-4 small-12 columns">
	        <div class="panel-inner threecol-second">                
				{{ content.three_col_second }}
	        </div>
		</div>
		{% endif %} 

	    {% if content.three_col_third %}      		
        <div class="large-4 small-12 columns">
	        <div class="panel-inner threecol-third">                
				{{ content.three_col_third }}
	        </div>
		</div>
		{% endif %} 
		             				
	  </div>
    {% endif %} 

    {% if content.four_col_first or content.four_col_second or content.four_col_third or content.four_col_fourth %}
      <div class="row">
	    {% if content.four_col_first %}      
        <div class="large-3 small-12 columns">
	        <div class="panel-inner fourcol-first">                
				{{ content.four_col_first }}
	        </div>
		</div>
		{% endif %}              		
		
	    {% if content.four_col_second %}      		
        <div class="large-3 small-12 columns">
	        <div class="panel-inner fourcol-second">                
				{{ content.four_col_second }}
	        </div>
		</div>
		{% endif %} 

	    {% if content.four_col_third %}      		
        <div class="large-3 small-12 columns">
	        <div class="panel-inner fourcol-third">                
				{{ content.four_col_third }}
	        </div>
		</div>
		{% endif %} 

	    {% if content.four_col_fourth %}      		
        <div class="large-3 small-12 columns">
	        <div class="panel-inner fourcol-fourth">                
				{{ content.four_col_fourth }}
	        </div>
		</div>
		{% endif %} 
		             				
	  </div>
    {% endif %} 

    {% if content.one_col %}    
      <div class="row">
        <div class="large-12 columns">
	        <div class="panel-inner onecol content-panel">                
				{{ content.one_col }}
	        </div>
        </div>
      </div>                                  
    {% endif %}  
    
    {% if content.sidebar_left_extra_sidebar or content.sidebar_left_extra_content %}
      <div class="row">
	    {% if content.sidebar_left_extra_sidebar %}      
        <div class="large-4 small-12 columns">
	        <aside class="panel-inner sidebar-left" role="complementary">                
				{{ content.sidebar_left_extra_sidebar }}
	        </aside>
		</div>
		{% endif %}              		
	    {% if content.sidebar_left_extra_content %}      		
        <div class="large-8 small-12 columns">
	        <div class="panel-inner content-wrapper content-panel">                
				{{ content.sidebar_left_extra_content }}
	        </div>
		</div>
		{% endif %}              				
	  </div>
    {% endif %} 

    {% if content.sidebar_right_extra_sidebar or content.sidebar_right_extra_content %}
      <div class="row">
	    {% if content.sidebar_right_extra_content %}      		
        <div class="large-8 small-12 columns">
	        <div class="panel-inner content-wrapper content-panel">                
				{{ content.sidebar_right_extra_content }}
	        </div>
		</div>
		{% endif %}              				
      
	    {% if content.sidebar_right_extra_sidebar %}      
        <div class="large-4 small-12 columns">
	        <aside class="panel-inner panel-inner sidebar-right" role="complementary">                
				{{ content.sidebar_right_extra_sidebar }}
	        </aside>
		</div>
		{% endif %}              		
	  </div>
    {% endif %} 

    {% if content.two_col_extra_first or content.two_col_extra_second %}
      <div class="row">
	    {% if content.two_col_extra_first %}      
        <div class="large-6 small-12 columns">
	        <div class="panel-inner twocol-first">                
				{{ content.two_col_extra_first }}
	        </div>
		</div>
		{% endif %}              		
		
	    {% if content.two_col_extra_second %}      		
        <div class="large-6 small-12 columns">
	        <div class="panel-inner twocol-second">                
				{{ content.two_col_extra_second }}
	        </div>
		</div>
		{% endif %} 
		             				
	  </div>
    {% endif %}


    {% if content.three_col_extra_first or content.three_col_extra_second or content.three_col_extra_third %}
      <div class="row">
	    {% if content.three_col_extra_first %}      
        <div class="large-4 small-12 columns">
	        <div class="panel-inner threecol-first">                
				{{ content.three_col_extra_first }}
	        </div>
		</div>
		{% endif %}              		
		
	    {% if content.three_col_extra_second %}      		
        <div class="large-4 small-12 columns">
	        <div class="panel-inner threecol-second">                
				{{ content.three_col_extra_second }}
	        </div>
		</div>
		{% endif %} 

	    {% if content.three_col_extra_third %}      		
        <div class="large-4 small-12 columns">
	        <div class="panel-inner threecol-third">                
				{{ content.three_col_extra_third }}
	        </div>
		</div>
		{% endif %} 
		             				
	  </div>
    {% endif %} 

    {% if content.four_col_extra_first or content.four_col_extra_second or content.four_col_extra_third or content.four_col_extra_fourth %}
      <div class="row">
	    {% if content.four_col_extra_first %}      
        <div class="large-3 small-12 columns">
	        <div class="panel-inner fourcol-first">                
				{{ content.four_col_extra_first }}
	        </div>
		</div>
		{% endif %}              		
		
	    {% if content.four_col_extra_second %}      		
        <div class="large-3 small-12 columns">
	        <div class="panel-inner fourcol-second">                
				{{ content.four_col_extra_second }}
	        </div>
		</div>
		{% endif %} 

	    {% if content.four_col_extra_third %}      		
        <div class="large-3 small-12 columns">
	        <div class="panel-inner fourcol-third">                
				{{ content.four_col_extra_extra_third }}
	        </div>
		</div>
		{% endif %} 

	    {% if content.four_col_extra_fourth %}      		
        <div class="large-3 small-12 columns">
	        <div class="panel-inner fourcol-fourth">                
				{{ content.four_col_extra_fourth }}
	        </div>
		</div>
		{% endif %} 
		             				
	  </div>
    {% endif %} 


    
    
    
    

    {% if content.content_bottom %}    
      <div class="row">
        <div class="large-12 columns">
	        <div class="panel-inner content-bottom content-panel">                
				{{ content.content_bottom }}
	        </div>
        </div>
      </div>                                  
    {% endif %}    	
{% endif %}    	 
