@mixin section-layout($background, $the-screen-size, $padding) {
		background: $background;
		padding: $padding;
		border-radius: $global-radius;
		margin-bottom: rem-calc(map-get($grid-column-gutter, $the-screen-size));
}

@mixin triangle($tr-size, $tr-color) {
	position: relative;
	&:before {
		content: "";
	    width: 0;
	    height: 0;
	    visibility: inherit;
	    border-left: $tr-size solid transparent;
	    border-right: $tr-size solid transparent;
	    border-top: $tr-size solid $tr-color;
	    position: absolute;
	    bottom: -$tr-size;
	    left: $tr-size*2;	
		
	}
} 

@mixin triangle-top-border ($tr-size-outside, $tr-size-inside, $tr-color-outside, $tr-color-inside) {
		position: relative;
		&:before {
			content: "";
			width: 0;
			height: 0;
			border-left: $tr-size-outside solid transparent;
			border-right: $tr-size-outside solid transparent;
			border-bottom: $tr-size-outside solid $tr-color-outside;
			position: absolute;
			top: -$tr-size-outside;
			left: 24px;			
		}		
		&:after {
		    content: "";
		    width: 0;
		    height: 0;
		    border-left: $tr-size-inside solid transparent;
		    border-right: $tr-size-inside solid transparent;
		    border-bottom: $tr-size-inside solid $tr-color-inside;
		    position: absolute;
		    top: -$tr-size-inside;
		    left: 26px;			
		}	
}