.section-footer {
	margin-bottom: 3rem;
	footer {
		display: flex;
		background: #fff;
		border-radius: $global-radius;
		border: 1px solid $primary-color;
		padding-top: 1rem;
		margin: 0 1rem;
		@include triangle-top-border(14px, 12px, $primary-color, #fff);
		&.row {
			margin: 0;
		}
		nav {
			padding: 1rem 0;
		}
	}
	ul {
		margin-left: 0;
	}
	li {
		list-style: none;
		display: inline-block;
		font-size: rem-calc(16);
		line-height: 1;
		padding-right: 10px;
		a {
			display: inline-block;
		}
		svg {
			margin: 0 5px 0 0;
		}
	}
	li.large-icon {
		svg {
			margin: 0 5px -5px 0;							
		}
	}
	.footerlogo {
		max-width: 200px;
		margin-top: -6px;
		float: right;
	}	
	@include breakpoint(small only) { 
		.small-12 {
			text-align: center;		
		}	 
		.footerlogo {
			float: none;
			text-align: center;					
			padding-bottom: 2rem;
		}	
		
	}
}

.block-contactfooter {
	svg {
		width: 20px;
	}
}

