.section-header {
	padding: $section-padding 0;
	background: $primary-color;
	@include breakpoint(small only) { 			
		padding: $section-padding 0;		
	}	
	img {
		max-width: 400px;
		@include breakpoint(small only) { 		
			max-width: 100%;			
		}	
	}
	header {
		background: transparent;
	}
}

