body {
	background: $light-gray;
}

main {
	padding: $section-padding 0 0 0;
}

.main-content-row {
	.links {
		margin: 0 0 1rem 0;
		li {
			list-style: none;
		}
		a {
			@include button;						
		}
	}
}
