// Non-modular or client styles for .l-header region.
.section-metaheader {
	background: #fff;
	padding: 0.5rem 0;
	font-size: rem-calc(16);	
	@include breakpoint(small only) { 			
		padding-top: 50px;
	}		
	h2 {
		margin: 0;
		font-size: rem-calc(16);
		font-weight: 100;
	}
	ul {
		float: right;
		margin-bottom: 0;
		li {
			list-style: none;
			text-align: right;
			display: inline-block;
			padding-left: 5px;
			font-size: rem-calc(16);			
		}
	}
}