.panel-inner.content-panel {
	@include section-layout(#fff, medium, $grid-padding);
}

.panel-inner:not(.content-panel) {
	.advanced-text-widget,
	.simple-text-widget {
		@include section-layout(#fff, medium, $grid-padding);					
	}
}


//remove if nested
.content-panel {
	section {
		&:last-child {
			margin-bottom: 0;
		}
	}	
	
}

.hasEmptyDiv {
	> .panel-inner {
		padding: 0;			
		margin: 0;
	}		
}