{% if content %}
    {% if content.content_top %}
      <div class="row">
        <div class="large-12 columns">
	        <div class="panel-inner content-top content-panel">                
			{{ content.content_top }}
	        </div>
        </div>
      </div>  
    {% endif %}              
    {% if content.content_first or content.content_second %}
      <div class="row">
	    {% if content.content_first %}      
        <div class="large-4 small-12 columns">
	        <aside class="panel-inner sidebar-left"  role="complementary">                
			{{ content.content_first }}
	        </aside>
		</div>
		{% endif %}              		
	    {% if content.content_second|render is not empty  %}      		
        <div class="large-8 small-12 columns">
	        <div class="panel-inner content-wrapper content-panel">                
			{{ content.content_second }}
	        </div>
		</div>
		{% endif %}              				
	  </div>
    {% endif %}    		  
    {% if content.content_bottom %}    
      <div class="row">
        <div class="large-12 columns">
	        <div class="panel-inner content-bottom content-panel">                
			{{ content.content_bottom }}
	        </div>
        </div>
      </div>                                  
    {% endif %}    	
{% endif %}    	    