      <div class="row nested-layout">
        <div class="large-4 small-12 columns">
	        <aside class="panel-inner sidebar-left"  role="complementary">                
			{{ content.content_first }}
	        </aside>
		</div>
        <div class="large-8 small-12 columns">
	        <div class="panel-inner content-wrapper content-panel">                
			{{ content.content_second }}
		      <div class="row">
		        <div class="large-4 small-12 columns content-panel-inner">
			        {{ content.content_inner_first }}
		        </div>
		        <div class="large-4 small-12 columns content-panel-inner">
			        {{ content.content_inner_second }}		        
		        </div>
		        <div class="large-4 small-12 columns content-panel-inner">
			        {{ content.content_inner_third }}		        
		        </div>
		      </div>      
	        </div>
		</div>
	  </div>
