.blockquote-widget {
	@include section-layout($primary-color, medium, 0);		
	@include triangle(12px, $primary-color);
	blockquote {
		padding: $grid-padding;
		border: none;
		margin: 0;
		p {
			@extend h2;
			color: #fff;	
			&:first-of-type {
				&:before {
					content:'"';
					margin-left: -1rem;
				} 
			} 
			&:last-of-type {
				&:after {
					content:'"'
				} 
			} 
			
		}
	}
	
	cite {
		font-size: 1rem;
		font-style: normal;
		&:before {
			display: none;
		}
		div,
		a {
			color: $black;
		}
		
	}
}

