.breadcrumbs-row {
	position: relative;	
	min-height: 2.4rem;
}

ul.breadcrumbs {
	padding: 0 1rem;
	a {
		text-decoration: underline;
	}
	li, a {
		text-transform: none;
		font-size: 0.9rem;		
	}
	li {
		  white-space: nowrap;
		  overflow: hidden;
		  text-overflow: ellipsis;
		  max-width: 200px;		
		h2 {
			font-size: 0.9rem;		
			display: inline;
			font-weight: 100;
		}
	}
} 

.breadcrumbs li:not(:last-child)::after {
    content: ">";
    color: $primary-color;
    margin: 0 .5rem;
}

