.button {
	&.toggle-button {
		color: #fff;
		margin-top: 1rem;	
		&:hover {
			color: #fff;
		}
	}
	&.success {
		background-color: $primary-color;
		color: #fff;		
		&:hover {
			background-color: #000;
			color: #fff;
		}		
	}
}

