.image-widget {
	@include section-layout(#fff, medium, 0);						
	img {
		border-radius: $global-radius;
	}
	.has-body {
		img {
			border-radius: $global-radius $global-radius 0 0;
		}
	}
	.has-label {
		img {
			border-radius: 0 0 $global-radius $global-radius;
		}
	}
	.has-body.has-label {
		img {
			border-radius: 0;
		}
	}	
	.field:not(.field-type-image) {
		.field-item {
			padding: $grid-padding;			
		}
	}
	h2 {
		padding: $grid-padding $grid-padding 0 $grid-padding;
	}
	.body h2 {
		padding: 0;	
	}
	
}

.panel-inner.content-panel {
	.image-widget {
		h2 {
			padding: 0;
		}		
	}
}

.large-4 {
	.image-widget {
		img {
			min-width: 100%;
		}	
	}		
}
