.menu {
	a {
		text-decoration: none;
		&:hover {
			text-decoration: none;		
		}
	}
}

.section-header {
	.menu {
		display: flex;
		li  {
			&:last-child {
				margin-right: auto;				
			}
		}
		a {
			background: $black;
			color: #fff;
			border-radius: $global-radius;
			&.is-active {
				color: $black;
				background: #fff;
			}
		}		
	}
	.top-bar {	
	    justify-content: flex-start;
		@include breakpoint(medium up) { 	    
			margin-top: 1rem;
			padding: 0;
			ul {
				border: 2px solid #fff;
				border-radius: $global-radius;	    
				
			}			
			li {
				padding: 0.3rem;
				border-right: 2px solid #fff;
				&:last-child {
					border-right: none;					
				}
			}			
		}
	}	
	@include breakpoint(small only) { 
		.title-bar  {
			padding-left: 0;		
			padding-right: 0;			
			position: fixed;
			width: 100%;
			top: 0;
			left: 0;
			justify-content: flex-end;					
			.menu-icon {
				margin-right: .5rem;
				width: 24px;
			}
			
		}
		.is-drilldown {
		    display: flex;
		    flex-direction: column;
		    flex-wrap: nowrap;
		    justify-content: flex-start;
		    align-items: stretch;
		    align-content: stretch;			
			background: transparent;			
		}
		.top-bar {
			padding: 0;
			position: fixed;
			top: 30px;
			left: 0;
			width: 100%;
			z-index: 9;
			background: $black;
		}
		.menu {
			a {
				margin-right: 0;
				border-radius: 0;
			}
		}
	}	
	.title-bar {
		// hide FOUC for non-mobile
		@include breakpoint(medium up) { 		
			display: none;			
		}		
	}
}

.toolbar-vertical {
	@include breakpoint(small only) { 	
		.large-7 {
			top: 40px;
		}
	}	
}

aside {
	nav {
		@include breakpoint(small only) { 
			display: none;
		}		
	}
	.menu {
		display: block;
		li {
			width: 100%;
			display: block;
			a {
				border-radius: $global-radius;
				margin-bottom: .5rem;
				background: $primary-color;				
				color: #fff;				
				width: 100%;				
				font-size: 1rem;
				&.is-active {
					background: $black;				
					@include triangle(6px, $black);								
				}
			}
		}
	}
}

//remove triangle
.dropdown.menu.medium-horizontal>li.is-dropdown-submenu-parent>a {
	padding-right: 1rem;
	&:after {
		display: none;		
	}
}