//override max height (BUG in panels)
.ipe-tab-wrapper {
	max-height: 70vh !important; 	
}

body.panels-ipe-active {
	.content-wrapper {
		section {
			&:not(:first-child) {
				margin-top: 0;
			}
			
		}
	}
}

.panels-ipe-active {
	.panel-inner {
		@include section-layout(#fff, medium, $grid-padding)	
	}	
	.ipe-droppable {
		padding: 2rem;
		background: $light-orange;
		&.hover {
			background: $primary-color;			
		}
	}
	.panel-inner:not(.content-section) {
		section {
			padding: 0;				
		}
	}
	.panel-inner section {
		background: $light-orange;
	}
	div.ipe-actions:not(.ipe-actions-block) {
		background: #000;
		color: #fff;
	}	
}
.ipe-tabs-content {
	.ipe-block-content-type-info {
		background: $light-orange;
	}
	.ipe-blockpicker-item {
		> a:hover {
			border: 1px solid $primary-color;
			color: $primary-color;
		}
	}
	.entity-content-form-revision-information {
		padding: 0.7rem;
	}
	input.button {
		background: $primary-color;
		color: #fff;
		&:hover {
			background: $black;
			color: #fff;
		}
	}
	.vertical-tabs__menu-item {
	    border: none;
	}	
	.ipe-category.active:after {
	    border-bottom-color: $primary-color;
	}
	.ipe-current-layout-label {
		background: $primary-color;
	}
}


.ipe-tab.active a, .ipe-tab a:hover {
    color: $primary-color;
    border: none;
    border-bottom: 3px solid $primary-color;
}

.ipe-category:hover, .ipe-category.active {
    border-color: $primary-color;
    color: inherit;
}
