.search-block-form {
	width: 250px;
	position: absolute;
	right: 15px;
	top: -.35rem;
	@include breakpoint(small only) {
		position: relative;
		left: 0;
		width: 100%;
		max-width: 400px;
	}	
	.form-submit {
		text-indent: -99999px;
		background: $primary-color url(../images/search.svg) 50% 50% no-repeat;
		position: absolute;
		right: 0;
		top: 0;
		height: 2.03125rem;
	    border-radius: 0 $global-radius $global-radius 0;		
	    &:hover {
		    background-color: #000;
	    }
	}
    .form-submit.button.succes:hover {
	    background-color: $black; 
    }
	input[type='search'] {
	    border: none;
	    box-shadow: none;
	}	
}