.video-widget {
	@include section-layout(#fff, medium, 0);						
	iframe {
		border-radius: $global-radius;
	}
	.has-text {
		iframe {
			border-radius: $global-radius $global-radius 0 0;
		}
	}	
	.field:not(.field-type-video-embed-field) {
		.field-item {
			padding: $grid-padding;			
		}
	}
	h2 {
		padding: $grid-padding $grid-padding 0 $grid-padding;
	}
}

.panel-inner.content-panel {
	.video-widget {
		h2 {
			padding: 0;
		}		
	}
}

.field-name-field-video-block-transcription {
	background: $light-gray;
	p {
		&:last-child {
			margin-bottom: 0;
		}
	}
}