{% if block.delta != 'main' %}
<section{{ attributes.addClass(['image-widget']) }}>
  {% endif %}
  {{ title_prefix }}
  {% if label %}
    <h2 {{ title_attributes }}>{{ label }}</h2>
  {% endif %}
  {{ title_suffix }}

  {% if content_attributes|render is not empty %}
  <div {{ content_attributes }}>
    {% endif %}

    {% block content %}

	<div class="inner {% if content.body|render %}has-body{% endif %} {% if label|render %}has-label{% endif %}">    
        
		{% if content.field_image_block_url[0]['#url']|render %}
		<a href="{{ content.field_image_block_url[0]['#url']|render }}">{{ content.field_image_block_image }}</a>
	    {{ content.body }}		    		
		{% else %}
		    {{ content.field_image_block_image }}
		    {{ content.body }}		    
		{% endif %}  
    
    {% if content.body|render %}</div>{% endif %}    
      
    {% endblock %}

    {% if content_attributes|render is not empty %}
  </div>
  {% endif %}
  

  {% if block.delta != 'main' %}
</section>
  {% endif %}

