{% if block.delta != 'main' %}
<section{{ attributes.addClass(['blockquote-widget']) }}>
	<blockquote>
	    {{ content.body }}
	    {% if content.field_quote_block_source %}
	    <footer>
	        <cite>
	            {% if content.field_quote_block_source_url[0]['#url']|render %}
	            <a href="{{ content.field_quote_block_source_url[0]['#url']|render }}">{{ content.field_quote_block_source }}</a>
	            {% else %}
	                {{ content.field_quote_block_source }}
	            {% endif %}
	        </cite>
	    </footer>
	    {% endif %}
	</blockquote>
</section>	
{% endif %}