{% if block.delta != 'main' %}
<section{{ attributes.addClass(['video-widget']) }}>
  {% endif %}
  {{ title_prefix }}
  {% if label %}
    <h2 {{ title_attributes }}>{{ label }}</h2>
  {% endif %}
  {{ title_suffix }}

  {% if content_attributes|render is not empty %}
  <div {{ content_attributes }}>
    {% endif %}

    {% block content %}
	{% if content.field_video_block_transcription|render %}<div class="has-text">{% endif %}        
	  {{ content.field_video_block_video }}
	  {{ content.body }}

	{% if content.field_video_block_transcription|render %}  
	  <span class="button primary toggle-button" data-toggle="toggleTranscription" aria-label="Tekstalternatief video" role="button">Tekstalternatief video </span>
	  <div id="toggleTranscription" class="transcription-wrapper hide" data-toggler=".hide">{{ content.field_video_block_transcription }}</div>
    {% endif %}
    	  
    {% endblock %}
    {% if content.field_video_block_transcription|render %}</div>{% endif %}     

    {% if content_attributes|render is not empty %}
  </div>
  {% endif %}
  

  {% if block.delta != 'main' %}
</section>
  {% endif %}