{#
/**
 * @file
 * Theme override for a breadcrumb trail.
 *
 * Available variables:
 * - breadcrumb: Breadcrumb trail items.
 * - title: The current page title.
 */
#}
{% if breadcrumb %}
  <nav role="navigation" aria-labelledby="system-breadcrumb" aria-label="Breadcrumb" >
    <ul class="breadcrumbs">
	  <li><h2>U bevindt zich hier:</h2></li>    
    {% for item in breadcrumb %}
      <li>
        {% if item.url %}
          <a href="{{ item.url }}">{{ item.text }}</a>
        {% else %}
          {{ item.text }}
        {% endif %}
      </li>
    {% endfor %}
      <li class="current"><a href="#" aria-current="page">{{ title }}</a></li>
    </ul>
  </nav>
{% endif %}
