{#
/**

MAIN MENU DEFAULT (SIDEBAR)

 * @file
 * Theme override to display a menu.
 *
 * Available variables:
 * - menu_name: The machine name of the menu.
 * - items: A nested list of menu items. Each menu item contains:
 *   - attributes: HTML attributes for the menu item.
 *   - below: The menu item child items.
 *   - title: The menu link title.
 *   - url: The menu link url, instance of \Drupal\Core\Url
 *   - localized_options: Menu link localized options.
 */
#}
{% import _self as menus %}

{#
  We call a macro which calls itself to render the full tree.
  @see http://twig.sensiolabs.org/doc/tags/macro.html
#}
{% if top_bar %}
  <nav id="main-menu" role="navigation" class="show-for-medium">
      {{ menus.menu_links(items, attributes, 0, 1) }}
  </nav>
{% else %}
  {{ menus.menu_links(items, attributes, 0, 0) }}
{% endif %}

{% macro menu_links(items, attributes, menu_level) %}
  {% import _self as menus %}
  {% if items %}
    {% if top_bar %}
      {% if menu_level == 0 %}
        <ul{{ attributes.addClass('menu', 'vertical', 'show-for-medium') }}>
      {% else %}
        <ul class="submenu menu vertical" data-submenu>
      {% endif %}
    {% else %}
      {% if menu_level == 0 %}
        <ul{{ attributes.addClass('menu') }} data-dropdown-menu>
      {% else %}
        <ul class="menu">
      {% endif %}
    {% endif %}
    {% for item in items %}
      {% if top_bar %}
        {%
          set item_classes = [
            item.below is not empty ? 'has-submenu' ,
            item.is_expanded ? 'menu-item--expanded',
            item.is_collapsed ? 'menu-item--collapsed',
            item.in_active_trail ? 'menu-item--active-trail is-active',
          ]
        %}
      {% endif %}
      <li{{ item.attributes.addClass(item_classes) }}>
        {{ link(item.title, item.url) }}
        {% if item.below %}
            {{ menus.menu_links(item.below, attributes, menu_level + 1) }}
        {% endif %}
      </li>
    {% endfor %}
    </ul>
  {% endif %}
{% endmacro %}
