{#
/**
 * @file
 * Zurb Foundations's theme implementation to display a single page.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 * - logo: The url of the logo image, as defined in theme settings.
 * - linked_logo: The logo image, linked to <front>.
 * - site_name: The name of the site. This is empty when displaying the site
 *   name has been disabled in the theme settings.
 * - linked_site_name: The name of the site that also links to <front>.
 * - site_slogan: The slogan of the site. This is empty when displaying the site
 *   slogan has been disabled in theme settings.
 * - hide_site_name: A flag indicating if the site name has been toggled off on
 *   the theme settings page. If hidden, the "visually-hidden" class is added
 *   to make the site name visually hidden, but still accessible.
 * - hide_site_slogan: A flag indicating if the site slogan has been toggled off
 *   on the theme settings page. If hidden, the "visually-hidden" class is
 *   added to make the site slogan visually hidden, but still accessible.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - messages: Status and error messages. Should be displayed prominently.
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.meta_header
 * - page.header
 * - page.help
 * - page.highlighted
 * - page.content
 * - page.sidebar_first
 * - page.sidebar_second
 * - page.footer_first
 * - page.footer_middle
 * - page.footer_last
 *
 * @see template_preprocess_page()
 * @see bartik_preprocess_page()
 * @see html.html.twig
 */
#}

	<section class="row expanded section-metaheader">
	    <div class="large-12 columns">
			<ul class="contrast-menu" aria-label="Constrast menu">
				<li><h2>Contrast:</h2></li>
				<li><a href="#" title="Maak website geel op zwart">Geel op zwart</a></li>
				<li>|</li>
				<li><a href="#" title="Standaard kleuren">Standaard</a></li>				
			</ul>
	    </div>
	</section>      

  <section class="section-header">
	  <header class="row" role="banner" aria-label="{{ 'Site header'|t }}">

	    {% if page.logo %}
	      <div class="large-12 small-12 columns">
	        {{ page.logo }}
	      </div>
	    {% endif %}
	    
	    {% if page.header %}
	      <div class="large-12 small-12 columns">
	        {{ page.header }}
	      </div>
	    {% endif %}
	  </header>
  </section> 	
  
  
  
    
 {% if messages and not zurb_foundation_messages_modal %}
  <div class="messages-row row">
    <div class="large-12 columns">
      {{ messages }}
    </div>
  </div>
  {% endif %}

  {% if page.help %}
  <div class="help-row row">
    <div class="large-12 columns">
      {{ page.help }}
    </div>
  </div>
  {% endif %}

  <main id="main" role="main">
    
      {% if page.highlighted %}
        {% spaceless %}
	      <div class="hightlighted-row row">
	        <div class="large-12 columns">
          {{ page.highlighted }}
	        </div>
	     </div>	
        {% endspaceless %}
      {% endif %}

	  {% if page.breadcrumbs or page.tabs %}      
		{% if page.breadcrumbs %}
	      <div class="breadcrumbs-row row">
	        <div class="large-12 columns">
				{{ page.breadcrumbs }}		
	        </div>
	     </div>						
		{% endif %}

		{% if page.tabs %}
	      <div class="tabs-row row">
	        <div class="large-12 columns">
				{{ page.tabs }}		
	        </div>
	     </div>	
		{% endif %}
      {% endif %}      
      <a id="main-content"></a>
      <div class="main-content-row row">
        <div class="large-12 columns">
        
      
			{{ page.content }}
        </div>
     </div>	
  </main>

  {% if page.section_3cols_1 or page.section_3cols_2 or page.section_3cols_3 %}
  <section class="region-section section-3cols">  
  	<div class="row">	
  	  <div class="large-4 small-12 columns"	
  	  	{{ page.section_3cols_1 }}  
  	  </div>
  	  <div class="large-4 small-12 columns"	
  	  	{{ page.section_3cols_2 }}  
  	  </div>
  	  <div class="large-4 small-12 columns"	
  	  	{{ page.section_3cols_3 }}  
  	  </div>
  	  
  	</div>
  </section>	    
  {% endif %}

  {% if page.section_2cols %}  
  <section class="region-section section-2ols">  
  	<div class="row">	
  	  <div class="large-6 medium-6 small-12 columns"	
  	  	{{ page.section_2cols_1 }}  
  	  </div>
  	  <div class="large-6 medium-6 small-12 columns"	
  	  	{{ page.section_2cols_2 }}  
  	  </div>
  	</div>
  </section>	    
  {% endif %}

  {% if page.section_4cols %}  
  <section class="region-section section-4cols">  
  	<div class="row">	
  	  <div class="large-3 medium-6 small-12 columns"	
  	  	{{ page.section_4cols_1 }}  
  	  </div>
  	  <div class="large-3 medium-6 small-12 columns"	
  	  	{{ page.section_4cols_2 }}  
  	  </div>
  	  <div class="large-3 medium-6 small-12 columns"	
  	  	{{ page.section_4cols_3 }}  
  	  </div>
  	  <div class="large-3 medium-6 small-12 columns"	
  	  	{{ page.section_4cols_4 }}  
  	  </div>
  	  
  	</div>
  </section>	    
  {% endif %}

  {% if page.section_1cols %}  
  <section class="region-section section-1cols">  
  	<div class="row">	
  	  <div class="large-12 columns"	
  	  {{ page.section_1cols }}    
  	  </div>
  	</div>

  </section>	    
  {% endif %}

    
  <section class="section-footer" >
       <div class="row">
          <div class="large-12 small-12 columns">       
		    <footer class="row" role="contentinfo">       
		        <div id="footer-first" class="large-8 small-12 columns">
		          <ul>          
					<li class="icon-phone large-icon">
					<a href="tel:+310123456789" class="phone">0486 - 486 486</a></li>
					<li class="mail large-icon">
					<a href="mailto:info@example.com">info@widgetomic.nl</a></li>
					<li class="copy">&copy; Copyright 2014 - {{ "now"|date('Y') }} {{ 'Widgetomic'|t }}</li>
		          </ul>
		        </div>
		        <div id="footer-last" class="large-4 small-12 columns">
		          <img class="footerlogo" src="/{{ directory }}/images/logofooter.svg" alt="footer logo" />
		        </div>
		    </footer>
       </div>          
     </div>  
  </section>        
