{#
/**
 * @file
 * Template for a generic Panelizer view mode.
 *
 * Available variables:
 * - entity: The entity with limited access to object properties and methods.
 * - attributes: HTML attributes for the containing element.
 * - content: All entity items.
 * - entity_url: Direct URL of the current entity.
 * - title: The title of the entity.
 * - title_element: HTML element to use for the title (defaults to 'h2').
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - view_mode: View mode; for example, "teaser" or "full".
 *
 * @see template_preprocess_panelizer_view_mode()
 *
 * @ingroup themeable
 */
#}
<article{{ attributes }} role="article">
  {{ title_prefix }}
  {% if title %}
    <{{ title_element }}{{ title_attributes }}>
      {% if entity_url %}
        <a href="{{ entity_url }}" rel="bookmark">{{ title }}</a>
      {% else %}
        {{ title }}
      {% endif %}
    </{{ title_element }}>
  {% endif %}
  {{ title_suffix }}

  {% if content_attributes|render is not empty %}
  <div{{ content_attributes }}>
  {% endif %}  
 
    {{ content }}
 
  {% if content_attributes|render is not empty %}
  </div>
  {% endif %}
</article>